<html>

    <head><title>AlgoDoc</title>
  </head>
  
  
    <body style=background-repeat:no-repeat;background-size:cover;background-image:url({{url_for('static' , filename = 'unnamed.jpg')}})>
                <div style=width:60%;background:#cccccc;left:0;right:0;border-radius:15px;margin-right:auto;margin-left:auto;padding:20px;>
                <center><img src = {{url_for('static' , filename = 'sabertechnologies.png')}} width=250px height=250px></center>
                    <div style=background:#fff;border-radius:15px;padding:10px;>
                        <center><h1 style=color:#000;border-radius:5px; >ALGODOC</h1>
                        <h3>Know More</h3>
                             This App Uses A Branch Of Artificial Intellingence Known As Computer Vision To Predict Whether The Person Has Pneumonia Or Not Just By Looking At Their X-Ray Image<br>
                             Please Make Sure That The Image Contains Only The X-Ray And No Ther Text/Symbols<br>
                             Please Try Not To Upload More Than 8 Images At Once As It mAy Cause A MemoryError
                             <br><b>This App Has An Accuracy Of Approximately 81 %</b>
                             
                             </center>
                      
                  </div>
       
                </div>
    </body>
  
</html>
